.cursor-wait {
  cursor: wait;
}
/* Special styling for WebKit/Blink */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #000000;
  margin-top: -1.2px;
}

/* All the same stuff for Firefox */
input[type="range"]::-moz-range-thumb {
  -moz-appearance: none;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #000000;
  margin-top: -1.2px;
}

/* All the same stuff for IE */
input[type="range"]::-ms-thumb {
  -ms-appearance: none;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #000000;
  margin-top: -1.2px;
}
